.idea/*
node_modules/*
package-lock.json
log/*
.DS_Store
nohup.out
config/database.js
config/secret.js
src/web
src/webAdmin
src/app/controllers/indexController.js
src/app/dao/indexDao.js
src/app/routes/indexRoute.js
